[submodule "olua"]
	path = olua
	url = git@github.com:zhongfq/olua.git
[submodule "llvm-project"]
	path = llvm-project
	url = git@github.com:llvm/llvm-project.git
[submodule "lua53"]
	path = lua53
	url = git@github.com:zhongfq/lua.git
	branch = v5.3
[submodule "lua54"]
	path = lua54
	url = git@github.com:zhongfq/lua.git
[submodule "lua55"]
	path = lua55
	url = git@github.com:zhongfq/lua.git
